BDI_SPIKE_RELAY_KEY=<hex64>
BDI_SPIKE_RELAY_PUB=<hex64>
BDI_SPIKE_AUTHOR_KEY=<hex64>
BDI_SPIKE_AUTHOR_PUB=<hex64>
BDI_SPIKE_MEMBER_KEY=<hex64>
BDI_SPIKE_MEMBER_PUB=<hex64>
BDI_SPIKE_SERVICE_KEY=<hex64>
BDI_SPIKE_SERVICE_PUB=<hex64>
BDI_SPIKE_PROMOTER_KEY=<hex64>
BDI_SPIKE_PROMOTER_PUB=<hex64>
